<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>357842207734-cm8cldsuf7ihgu0k4l1vf7k2fe9brpia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357842207734-cm8cldsuf7ihgu0k4l1vf7k2fe9brpia</string>
	<key>API_KEY</key>
	<string>AIzaSyCVoubrTrStDikBEym0AnsWLe0b256c7hY</string>
	<key>GCM_SENDER_ID</key>
	<string>357842207734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cuelogic.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-80693</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-80693.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357842207734:ios:d6ccc52def7d054c</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-80693.firebaseio.com</string>
</dict>
</plist>